{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <h2>Checked-In Patrons</h2>
            <h3 id="date"></h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if patron_list %}
            <div id="accordion">
                {% for patron in patron_list %}
                <div class="card">
                    <div class="card-header btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapse{{ forloop.counter }} " aria-expanded="false"
                        aria-controls="collapse{{ forloop.counter }}" id="heading{{ forloop.counter }}">
                        <h2 class="mb-0">
                            <h4>{{ patron.name }}</h4>
                        </h2>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="collapse"
                        aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                        <div class="card-body">
                            <h4 class="text-center">Phone: {{ patron.phone }}</h4>
                            {% if patron.headshot %}
                            <img src="{{ patron.headshot.url }}" />
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Nobody has checked in within the last 12 hours.</p>
            {% endif %}
        </div>
    </div>
</div>


<script>
    var d = new Date();
    document.getElementById("date").innerHTML = d.toDateString();
</script>

{% endblock %}