{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Checked-In Patrons</h2>
            <h3 id="date"></h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if patron_list %}
            <table class="table table-sm table-light">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Picture</th>
                        <th scope="col">Name</th>
                        <th scope="col">Check-In Time</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patron in patron_list %}
                    <tr>
                        <td>
                            {% if patron.headshot %}
                            <img class="headshot" src="{{ patron.headshot.url }}"> 
                            {% else %} 
                            {% load static %}
                            <img class="headshot" src="{% static "patron_checkin/placeholder.jpeg" %} "> 
                            {% endif %}
                        </td>
                        <td>{{ patron.name }}</td>
                        <td>{{ patron.last_checkin|date:'M. d, P' }}</td>
                        <td>{{ patron.phone }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Nobody has checked in within the last 12 hours.</p>
            {% endif %}
        </div>
    </div>
</div>


<script>
    var d = new Date();
    document.getElementById("date").innerHTML = "<i>" + d.toDateString() + "</i>";

    $('img').click(function() {
        if ($(this).hasClass('highlight-headshot')) {
            $(this).removeClass('highlight-headshot');
        } else {
            $(this).addClass('highlight-headshot');
        }
    });
</script>

{% endblock %}